<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225610760221-853im5pu7q2nqn55vgn7j5ft92j3qvho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225610760221-853im5pu7q2nqn55vgn7j5ft92j3qvho</string>
	<key>API_KEY</key>
	<string>AIzaSyBlmrXzDMC13y2y3uXTIkUdcg4w7tQzkcU</string>
	<key>GCM_SENDER_ID</key>
	<string>225610760221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FS.FlavorShare-iOS</string>
	<key>PROJECT_ID</key>
	<string>fs-userauth</string>
	<key>STORAGE_BUCKET</key>
	<string>fs-userauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225610760221:ios:a54a841a1021f1bb4346f4</string>
</dict>
</plist>